<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Добавление</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
</head>
<body>
<header th:insert="blocks/header :: header"></header>
<script>
  var currentPage = document.querySelector("#admin-page")
  currentPage.classList.add("active")
  currentPage.setAttribute("aria-current", "page")
</script>
<div class="container mt-5 mb-5">
  <h1>Добавление</h1>
  <form action="/cars/add" method="post">
    <input type="text" name="title" placeholder="Название" class="form-control"><br>
    <input type="text" name="anons" placeholder="Краткая информация" class="form-control"><br>
    <textarea name="full_text" placeholder="Полное описание" class="form-control"></textarea><br>
    <button type="submit" class="btn btn-success">Добавить</button>
  </form>
</div>

<footer th:insert="blocks/footer :: footer"></footer>
</body>
</html>