<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Новости</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
</head>
<body>
<header th:insert="blocks/header :: header"></header>
<script>
  var currentPage = document.querySelector("#cars-page")
  currentPage.classList.add("active")
  currentPage.setAttribute("aria-current", "page")
</script>
<div class="container mt-5">
  <h1>Новости</h1>
  <div th:each="el : ${car}" class="alert alert-info mt-2">
    <h3 th:text="${el.title}"/>
    <p th:text="${el.full_text}"/>
    <a th:href="'/cars/' + ${el.id} + '/edit'" class="btn btn-warning">Редактировать</a><br><br>
    <form th:action="'/cars/' + ${el.id} + '/remove'" method="post">
      <button class="btn btn-warning" type="submit">Удалить</button>
    </form>
  </div>
</div>

<footer th:insert="blocks/footer :: footer"></footer>
</body>
</html>