<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Редактирование</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
</head>
<body>
<header th:insert="blocks/header :: header"></header>
<script>
  var currentPage = document.querySelector("#cars-page")
  currentPage.classList.add("active")
  currentPage.setAttribute("aria-current", "page")
</script>
<div class="container mt-5 mb-5">
  <h1 class="text-center">Редактирование</h1>
  <div th:each="el : ${car} ">
    <form method="post">
      <input type="text" th:value="${el.title}" name="title" placeholder="Название" class="form-control"><br>
      <input type="text" th:value="${el.anons}" name="anons" placeholder="Краткая информация" class="form-control"><br>
      <textarea name="full_text" placeholder="Полное описание" class="form-control" th:text="${el.full_text}"/><br>
      <button type="submit" class="btn btn-outline-success">Обновить</button>
    </form>
  </div>
</div>

<footer th:insert="blocks/footer :: footer"></footer>
</body>
</html>