<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Новости</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
</head>
<body>
<header th:insert="blocks/header :: header"></header>
<script>
  var currentPage = document.querySelector("#news-page")
  currentPage.classList.add("active")
  currentPage.setAttribute("aria-current", "page")
</script>
<div class="container mt-5">
  <h1 class="text-center">Новости</h1>
  <div th:each="el : ${cars}" class="alert mt-2 bg-opacity-25 bg-info">
    <h3 th:text="${el.title}"/>
    <p th:text="${el.anons}"/>
    <a th:href="'/cars/' + ${el.id} " class="btn btn-outline-success">Детальнее</a>
  </div>
</div>

<footer th:insert="blocks/footer :: footer"></footer>
</body>
</html>