<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Список заказчиков</title>
  <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
</head>
<body>
<header th:insert="blocks/header :: header"></header>
<script>
  var currentPage = document.querySelector("#list-page")
  currentPage.classList.add("active")
  currentPage.setAttribute("aria-current", "page")
</script>
<div class="container-fluid text-center">
  <div><h2>Список заказчиков</h2></div>

  <div th:if="${message}" class="alert alert-success text-center">
    [[${message}]]
  </div>

  <div>
    <table class="table table-bordered">
      <thead class="bg-dark">
        <tr class="text-white">
          <th>ID</th>
          <th>Почта</th>
          <th>Имя</th>
          <th>Фамилия</th>
          <th>Модель авто</th>
          <th>Доставка</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
      <th:block th:each="client : ${listClients}">
        <tr>
          <td>[[${client.id}]]</td>
          <td>[[${client.email}]]</td>
          <td>[[${client.firstName}]]</td>
          <td>[[${client.lastName}]]</td>
          <td>[[${client.auto_model}]]</td>
          <td>[[${client.delivery}]]</td>
          <td>
            <a class="h4 mx-3" th:href="@{'/clients/edit/' + ${client.id}}"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
              <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
              <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
            </svg></a>
            <a class="h4" th:href="@{'/clients/delete/' + ${client.id}}"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-x-circle" viewBox="0 0 16 16">
              <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
              <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
            </svg></a>
          </td>
        </tr>
      </th:block>
      </tbody>
    </table>
  </div>
  <div class="m-2">
    <a class="btn btn-primary my-2" th:href="@{/clients/new}">Оформить заказ</a>
  </div>
</div>

<footer th:insert="blocks/footer :: footer"></footer>
</body>
</html>